<form action="">

  <md-card>
    <md-card-header>
      <md-card-title>登录</md-card-title>
    </md-card-header>

    <md-card-content>

      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="输入email">
      </md-input-container>

      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="输入password">
      </md-input-container>

      <button md-raised-button type="button">登录</button>

    </md-card-content>

    <md-card-actions class="text-right">
      <p>没有账户?<a href="">注册吧!</a></p>
      <p>忘了密码?<a href="">找一下吧!</a></p>
    </md-card-actions>
  </md-card>


  <md-card>
    <md-card-header>
      <md-card-title>呀句挖</md-card-title>
      <md-card-subtitle>希望本是无所谓有的,无所谓无的.这正如地上的路,其实地上本没有路,走的人多了,也便成了路.</md-card-subtitle>
    </md-card-header>

    <img md-card-image src="/assets/chenhuixian.jpg" alt="">

    <md-card-content>
        Hope that this is no matter, no matter. It is just as the road on the ground, in fact, there is no road, many people, and also become the way.
    </md-card-content>
  </md-card>




</form>
